@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-zinc-950;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.graveyard-theme-text {
  background: linear-gradient(to right, #75000a, #663c00);
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes descend {
  from {
    transform: translateY(0); /* Start above the screen */
  }
  to {
    transform: translateY(100%); /* End at its initial position */
  }
}

.spider {
  animation: descend 4s ease-out forwards;
  top: -15%;
}
